body {
  text-align: center;
}

.App-header {
  background-color: #000;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.tree {
    text-align: left;
    padding: 6px;
    margin: 4px;
    border: darkblue solid 1px;
}

.tree.success {
    background: linear-gradient(to bottom right, #6a6, #fff, #fff, #fff);
}

.tree.failure {
    background: linear-gradient(to bottom right, #f66, #fff);
}
